.button-connect {
    background-color: var(--color-black);
}

.button-black {
    background-color: var(--color-black-dark);
}

.button-connect,
.button-black {
    border: none;
    color: var(--color-white-light);
}

.button-connect:active,
.button-black:active {
    background-color: var(--color-grey-dark);
}

.button-white {
    border: 2px solid var(--color-black-dark);
    background-color: var(--color-white);
    color: var(--color-black-dark);
}

.button-black,
.button-white {
    border-radius: 12px;
}

.button-white:active {
    background-color: var(--color-grey-light);
}

.button-arrow-left,
.button-arrow-right {
    margin-top: 3px;
    width: 64px;
    height: 64px;
    background-color: transparent;
    border-radius: 45%;
    border: none;
    cursor: pointer;
}

.button-arrow-left {
    margin-left: 27px;
}

.button-arrow-right {
    margin-left: 10px;
}

.button-arrow-left:active,
.button-arrow-right:active {
    border: 2px solid var(--color-grey);
}

.button-card {
    width: 121px;
    height: 51px;
    border: none;
    border-radius: 12px;
    background-color: var(--color-black);
    font-size: 14px;
    font-family: var(--fontPoppins-m);
    line-height: 21px;
    color: var(--color-white-light);
    cursor: pointer;
}

.button-card:active {
    background-color: var(--color-grey-dark);
}