.medium-card {
    width: 281px;
    height: 402px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 14px;
    border-radius: 23px;
    background-color: var(--color-white-light);
    box-shadow: var(--medCard-shadow);
    transition: box-shadow var(--animation), transform var(--animation);
    position: relative;
}

.medium-card:last-child {
    margin-right: 0;
}

.medium-card:hover,
.medium-card:focus {
    box-shadow: var(--not-shadow);
    transform: scale(var(--button-scale));
}

.medium-time-bg {
    width: 117px;
    height: 38px;
    position: absolute;
    top: 28px;
    right: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    border: 1px solid rgba(28, 29, 32, 0.08);
    background: var(--color-black-light);
}

.medium-time {
    font-size: 14px;
    font-family: var(--fontPoppins-r);
    line-height: 27px;
    color: var(--color-white-light);
}

.medium-card-title {
    margin: 19px 0 0;
    font-size: 21px;
    font-family: var(--fontPoppins-m);
    line-height: 30px;
    color: var(--color-black);
}

.medium-card-container {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.medium-card-subtitle {
    margin: 0 41px 0 0;
    font-size: 14px;
    font-family: var(--fontPoppins-l);
    color: var(--color-blue-light);
}

.medium-icon-container {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.medium-card-icon {
    margin-right: 2px;
}

.medium-card-price {
    margin: 0;
    font-family: var(--fontPoppins-r);
    line-height: 25px;
    color: var(--color-black);
}