.collection {
    padding: 236px 95px 125px 98px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);
    position: relative;
}

.collection-viewed {
    position: absolute;
    right: 99px;
    top: -120px;
}

.collection-main-title {
    margin: 0;
    font-size: 45px;
    font-family: var(--fontPoppins-m);
    line-height: 45px;
    color: var(--color-black);
}

.collection-titles {
    margin-top: 91px;
    padding-left: 2px;
    padding-right: 2px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.collection-titles p {
    font-size: 22px;
    font-family: var(--fontPoppins-r);
    line-height: 29px;
    color: var(--color-title-collection);
}

.collection-titles-cont {
    display: flex;
}

.collection-titles-cont > p {
    margin-left: 93px;
}

.collection-titles-cont > p:first-child {
    margin-left: 0;
}

.collection-cards {
    margin-top: 48px;
    width: 100%;
}

.collection-card {
    margin-top: 40px;
}

.collection-card:first-child {
    margin-top: 0;
}

.collection-card > div {
    display: flex;
    justify-content: space-between;
}

.collection-card-main {
    display: flex;
}

.collection-card-img {
    width: 84px;
    height: 84px;
}

.collection-card-name {
    margin-left: 24px;
}

.collection-card-name > h1 {
    margin: 0;
    font-size: 28px;
    font-family: var(--fontPoppins-r);
    line-height: 39px;
    color: var(--color-black);
}

.collection-card-name > p {
    margin: 2px 0 0;
    font-size: 23px;
    font-family: var(--fontInter-l);
    line-height: 34px;
    color: var(--color-blue);
}

.collection-card-info {
    display: flex;
}

.collection-card-volume,
.collection-card-percent,
.collection-card-price,
.collection-card-owners,
.collection-card-items {
    display: flex;
    align-items: center;
}

.collection-card-volume {
    margin-right: 81px;
}

.collection-card-volume > img {
    margin-right: 1px;
}

.collection-card-volume > img,
.collection-card-price > img {
    width: 32px;
    height: 32px;
}

.collection-card-volume {
    margin-right: 80px;
}

.collection-card-volume > p,
.collection-card-price > p {
    font-size: 25px;
    font-family: var(--fontPoppins-m);
    line-height: 34px;
    color: var(--color-black);
}

.collection-card-percent {
    margin-right: 63px;
}

.collection-card-percent > p {
    font-size: 25px;
    font-family: var(--fontPoppins-r);
    line-height: 32px;
    color: var(--color-green);
}

.collection-card-price {
    margin-right: 146px;
}

.collection-card-price > img {
    margin-left: 4px;
}

.collection-card-owners {
    margin-right: 140px;
}

.collection-card-owners > p,
.collection-card-items > p {
    font-size: 24px;
    font-family: var(--fontPoppins-r);
    line-height: 31px;
    color: var(--color-black-little-dark);
}

.collection-card-line {
    margin-top: 26px;
    width: 99%;
    border: 2px solid var(--color-line-collection);
}

.collection-button {
    position: absolute;
    right: 95px;
    bottom: 2px;
}