.topNFT {
    padding-top: 69px;
    padding-bottom: 91px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white-slightly-dark);
    position: relative;
}

.topNFT-title {
    font-size: 45px;
    font-family: var(--fontPoppins-m);
    line-height: 27px;
    color: var(--color-grey-slightly-light);
}

.topNFT-cards {
    margin-top: 100px;
    display: flex;
}

.topNFT-card {
    margin-right: 40px;
}

.topNFT-card:last-child {
    margin-right: 0;
}

.topNFT-buttons {
    margin-top: 150px;
    width: 181px;
    height: 69px;
    background: url("../images/arrows-bg.png") top right no-repeat;
    box-shadow: var(--arrows-shadow);
}