.unleash {
    padding: 103px 96px 0;
    background: var(--color-white) url("../images/svg/unleash_points_bg.svg") bottom 30px right no-repeat;
}

.unleash-line {
    width: 100%;
    border: 1px solid #CBCBCB;
}

.unleash-main {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
}

.unleash-main-text {
    margin-top: 41px;
    margin-bottom: 3px;
}

.unleash-main-title {
    margin: 0;
    font-size: 45px;
    font-family: var(--fontPoppins-m);
    line-height: 54px;
    color: var(--color-title-uleash);
}

.unleash-main-title > span {
    color: #C5C5C5;
}

.unleash-main-service {
    margin-top: 45px;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
}

.unleash-main-service > li {
    margin-top: 12px;
    display: flex;
    align-items: center;
    font-family: var(--fontPoppins-l);
    line-height: 32px;
    color: var(--color-unleash-li);
}

.unleash-main-service > li:first-child {
    margin-top: 0;
}

.unleash-main-service > li::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 999px;
    margin-right: 12px;
    background: url("../images/svg/unleash_mark.svg") no-repeat center;
}

.unleash-button {
    margin-top: 70px;
}

.unleash-cards {
    width: 681px;
    height: 613px;
    position: relative;
}

.unleash-viewed {
    width: 322px;
    z-index: 2;
    position: absolute;
    left: 0;
    bottom: 0;
}

.unleash-best-sell {
    padding: 26px 24px;
    width: 322px;
    border-radius: 16px;
    border: 1px solid;
    border-color: var(--color-viewed);
    background: var(--color-white-light);
    box-shadow: 9px 9px 44px 0 rgba(20, 20, 22, 0.1);
    z-index: 1;
    position: absolute;
    left: 168px;
    bottom: 60px;
    transition: z-index var(--animation), transform var(--animation);
}

.unleash-best-sell:hover,
.unleash-best-sell:focus {
    z-index: 4;
    transform: scale(var(--button-scale));
}

.best-sell-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best-sell-info-title {
    margin: 0;
    font-size: 19px;
    font-family: var(--fontPoppins-m);
    line-height: 26px;
    color: var(--color-blue-dark);
}

.best-sell-info-button {
    width: 22px;
    height: 22px;
    border-radius: 25%;
    border: none transparent;
    background: url("../images/best_sellers/best_sell_dots.svg") center no-repeat;
    cursor: pointer;
}

.best-sell-info-button:active {
    border: 2px solid var(--color-black-light);
}

.best-sell-cards-container {
    margin-top: 15px;
}

.best-sell-cards-container:first-child {
    margin-top: 24px;
}

.best-sell-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.best-sell-card {
    display: flex;
    align-items: center;
}

.best-sell-card-main {
    display: flex;
    align-items: center;
    height: 56px;
}

.best-sell-card-img {
    width: 49px;
    height: 49px;
}

.best-sell-card-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21px;
    height: 21px;
    font-size: 10px;
    font-family: var(--fontPoppins-m);
    line-height: 17px;
    color: var(--color-best-sell-num);
    border-radius: 100%;
    background: var(--color-black);
    position: absolute;
    top: 0;
    left: 31px;
}

.best-sell-card-name {
    margin-left: 14px;
}

.best-sell-card-name > h1 {
    margin: 0;
    font-size: 14px;
    font-family: var(--fontPoppins-r);
    line-height: 19px;
    color: var(--color-black);
}

.best-sell-card-name > p {
    margin: 7px 0 0;
    font-size: 11px;
    font-family: var(--fontPoppins-l);
    line-height: 17px;
    color: var(--color-blue);
}

.unleash-notifications {
    width: 326px;
    padding: 11px;
    border-radius: 13px;
    background-color: var(--color-best-sell-num);
    box-shadow: 0 19px 28px 0 rgba(70, 70, 70, 0.1);
    z-index: 3;
    position: absolute;
    right: 0;
    top: 0;
}

.unleash-notifications-container {
    margin-top: 11px;
}

.unleash-notifications-container:first-child {
    margin-top: 0;
}

.unleash-notification {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.unleash-notification-main {
    display: flex;
    align-items: start;
    position: relative;
}

.notification-small-img-wrapper {
    display: flex;
    align-items: center;
}

.notification-small-img {
    margin-top: 3px;
    width: 40px;
    height: 40px;
}

.notification-small-img-wrapper:before {
    content: '';
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    border-radius: 100%;
    margin-right: 12px;
    background: var(--color-black);
}

.notification-mark {
    width: 17px;
    height: 17px;
    position: absolute;
    top: 0;
    left: 47px;
}

.notification-text {
    margin-left: 12px;
}

.notification-text > h4 {
    margin: 0;
    font-size: 13px;
    font-family: var(--fontPoppins-r);
    line-height: 23px;
    color: var(--color-black);
}

.notification-text > h4 > span {
    margin-right: 6px;
    color: var(--color-grey-notification);
}

.notification-text > p {
    margin: 0;
    font-size: 11px;
    font-family: var(--fontPoppins-m);
    line-height: 19px;
    color: var(--color-black);
}

.notification-text > p > span {
    font-family: var(--fontPoppins-l);
    color: var(--color-grey-notification);
}