:root {
    --color-white-light: #FFFFFF;
    --color-white: #F9F9F9;
    --color-white-dark: #EDEDED;
    --color-grey-light: #C2C3CB;
    --color-grey: #848586;
    --color-grey-little-dark: #676767;
    --color-grey-dark: #606060;
    --color-black: #141416;
    --color-black-dark: #000000;



    --fontInter-b: InterB, sans-serif;
    --fontInter-m: InterM, sans-serif;
    --fontInter-r: InterR, sans-serif;
    --fontInter-l: InterL, sans-serif;

    --fontPoppins-b: PoppinsB, sans-serif;
    --fontPoppins-m: PoppinsM, sans-serif;
    --fontPoppins-r: PoppinsR, sans-serif;
    --fontPoppins-l: PoppinsL, sans-serif;

    --fontPubSans-b: PublicSansB, sans-serif;
    --fontPubSans-m: PublicSansM, sans-serif;
    --fontPubSans-r: PublicSansR, sans-serif;
    --fontPubSans-l: PublicSansL, sans-serif;

    --animation-speed: .3s;
    --animation-func: ease;
    --animation: var(--animation-speed) var(--animation-func);
}

body {
    margin: 0;
}

body * {
    box-sizing: border-box;
}