@font-face {
    font-family: InterB;
    src: url("../../fonts/Inter/Inter-Bold.ttf");
}

@font-face {
    font-family: InterM;
    src: url("../../fonts/Inter/Inter-Medium.ttf");
}

@font-face {
    font-family: InterR;
    src: url("../../fonts/Inter/Inter-Regular.ttf");
}

@font-face {
    font-family: InterL;
    src: url("../../fonts/Inter/Inter-Light.ttf");
}

@font-face {
    font-family: PoppinsB;
    src: url("../../fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: PoppinsM;
    src: url("../../fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
    font-family: PoppinsR;
    src: url("../../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: PoppinsL;
    src: url("../../fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
    font-family: PublicSansB;
    src: url("../../fonts/PublicSans/PublicSans-Bold.ttf");
}

@font-face {
    font-family: PublicSansM;
    src: url("../../fonts/PublicSans/PublicSans-Medium.ttf");
}

@font-face {
    font-family: PublicSansR;
    src: url("../../fonts/PublicSans/PublicSans-Regular.ttf");
}

@font-face {
    font-family: PublicSansL;
    src: url("../../fonts/PublicSans/PublicSans-Light.ttf");
}

@font-face {
    font-family: ManropeB;
    src: url("../../fonts/Manrope/Manrope-Bold.ttf");
}

@font-face {
    font-family: ManropeM;
    src: url("../../fonts/Manrope/Manrope-Medium.ttf");
}

@font-face {
    font-family: ManropeR;
    src: url("../../fonts/Manrope/Manrope-Regular.ttf");
}

@font-face {
    font-family: DMSansL;
    src: url("../../fonts/Manrope/Manrope-Light.ttf");
}

@font-face {
    font-family: DMSansB;
    src: url("../../fonts/DMSans/DMSans-Bold.ttf");
}

@font-face {
    font-family: DMSansM;
    src: url("../../fonts/DMSans/DMSans-Medium.ttf");
}

@font-face {
    font-family: DMSansR;
    src: url("../../fonts/DMSans/DMSans-Regular.ttf");
}

@font-face {
    font-family: DMSansL;
    src: url("../../fonts/DMSans/DMSans-Light.ttf");
}

@font-face {
    font-family: OutfitB;
    src: url("../../fonts/Outfit/Outfit-Bold.ttf");
}

@font-face {
    font-family: OutfitM;
    src: url("../../fonts/Outfit/Outfit-Medium.ttf");
}

@font-face {
    font-family: OutfitR;
    src: url("../../fonts/Outfit/Outfit-Regular.ttf");
}

@font-face {
    font-family: OutfitL;
    src: url("../../fonts/Outfit/Outfit-Light.ttf");
}