.explore-market {
    padding-top: 100px;
    padding-bottom: 143px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);
    position: relative;
}

.explore-market-title {
    margin: 0;
    font-size: 45px;
    font-family: var(--fontPoppins-m);
    line-height: 27px;
    color: var(--color-black);
}

.explore-market-buttons {
    margin-top: 66px;
    display: flex;
}

.explore-market-cards {
    margin-top: 100px;
    display: grid;
    column-gap: 40px;
    row-gap: 68px;
    grid-template-columns: repeat(4, 1fr);
}

.explore-market-button {
    position: absolute;
    right: 95px;
    bottom: 2px;
}